//@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
//@font-face {
//  font-family: 'DIN NEXTTM ARABIC';
//  src: url('../fonts/DINNextLTW23-Regular.eot');
//  src: url('../fonts/DINNextLTW23-Regular.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/DINNextLTW23-Regular.woff2') format('woff2'),
//  url('../fonts/DINNextLTW23-Regular.woff') format('woff'),
//  url('../fonts/DINNextLTW23-Regular.ttf') format('truetype'),
//  url('../fonts/DINNextLTW23-Regular.svg#DINNextLTW23-Regular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}


:root {
  --font: 'Roboto', sans-serif; /* Default font family */
}

html[dir="rtl"] {
  --font: 'Tajawal', 'Roboto'; /* Change the font-family for RTL */
}

@import "variables";

// Reusable classes
.text-primary {
  color: $text-primary !important;
}

.text-secondary {
  color: $text-secondary !important;
}

.text-disabled {
  color: #C6C6C6 !important;
}

.hover-link {
  &:hover {
    color: $link-hover !important;
  }
}

.hover-bg-blue {
  &:hover {
    background: $main_blue !important;
  }
}

.hover-bg-secondary {
  &:hover {
    background: $bg-secondary !important;
  }
}

.hover-white {
  &:hover {
    color: #fff !important;

    svg, path {
      fill: white;
    }
  }
}

.text-helper {
  color: #6F6F6F;
}

.text-blue {
  color: $main_blue !important;
}

.text-error {
  color: $text-error !important;
}

.text-success {
  color: #24A148 !important;
}

.text-warning {
  color: #F1C21B !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mt--2rem {
  margin-top: -2rem !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb-2rem {
  margin-bottom: 2rem !important;
}

.border {
  border-color: #E0E0E0 !important;
}

.bg-secondary {
  background: $bg-secondary !important;
}

.bg-primary {
  background: $main_blue !important;
}

.flipx {
  transform: scalex(-1)
}

.flipy {
  transform: scaley(-1)
}

.gap-1rem {
  gap: 1rem;
}

.gap-2rem {
  gap: 2rem;
}

.gap-3rem {
  gap: 3rem;
}

.rounded10 {
  border-radius: 10px !important;
}

.rounded20 {
  border-radius: 20px !important;
}

.rounded50 {
  border-radius: 50px !important;
}

.fz70 {
  font-size: 70px !important;
}

.fz60 {
  font-size: 60px !important;
}

.fz56 {
  font-size: 56px !important;
}

.fz50 {
  font-size: 50px !important;
}

.fz48 {
  font-size: 48px !important;
}

.fz43 {
  font-size: 43px !important;
}

.fz40 {
  font-size: 40px !important;
}

.fz36 {
  font-size: 36px !important;
}

.fz32 {
  font-size: 32px !important;
}

.fz30 {
  font-size: 30px !important;
}

.fz28 {
  font-size: 28px !important;
}

.fz24 {
  font-size: 24px !important;
}

.fz21 {
  font-size: 21px !important;
}

.fz20 {
  font-size: 20px !important;
}

.fz18 {
  font-size: 18px !important;
}

.fz16 {
  font-size: 16px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz13 {
  font-size: 13px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz10 {
  font-size: 10px !important;
}

//  BTNS
.btn {
  font-size: 18px;
  padding: 5px 30px;
  border-radius: 8px;
  transition: all 0.3s;
}

.btn-primary {
  background: $main_blue;
  color: #ffffff;
  font-weight: bold;

  &:hover {
    background: #1B41E9;
    color: white;
  }

  &:active,
  &:focus {
    background: #002D9C;
    color: white;
  }
}

.btn-outline-primary {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; /* 21px */
  border-radius: 32px;
  border: 1px solid $main_blue;
  color: $main_blue;
  background: none;
  padding: 18px 32px;

  &:hover {
    background: $main_blue;
  }
}

.btn-secondary {
  background: #393939;
  color: #ffffff;
  font-weight: bold;
  &:hover {
    background: #4C4C4C;
    color: white;
  }

  &:active,
  &:focus {
    background: #6F6F6F;
    color: white;
  }
}

.btn-danger {
  background: #DA1E28;
  color: #ffffff;

  &:hover {
    background: #BA1B23;
    color: white;
  }

  &:active,
  &:focus {
    background: #BA1B23;
    color: white;
  }
}

.btn-disabled {
  background: #C6C6C6;
  color: #ffffff;

  &:hover {
    background: #C6C6C6;
    color: white;
    cursor: not-allowed;
  }

  &:active,
  &:focus {
    background: #C6C6C6;
    color: white;
  }
}

.btn-green {
  background: #24A148;
  color: #ffffff;

  &:hover {
    background: #1B41E9;
    color: white;
  }

  &:active,
  &:focus {
    background: #002D9C;
    color: white;
  }
}

.btn-red {
  background: #DA1E28;
  color: #ffffff;

  &:hover {
    background: #1B41E9;
    color: white;
  }

  &:active,
  &:focus {
    background: #002D9C;
    color: white;
  }
}

// main styles

.iconsax {
  --Iconsax-Size: 24px;
  --Iconsax-Color: #161616;

  &.hover:hover {
    --Iconsax-Color: #999999;
  }
}

path {
  transition: 0.3s;
}

a {
  .iconsax {
    &:active, &:checked, &:visited, &:focus, &:target {
      --Iconsax-Color: #264AEC;
    }
  }
}

a.show {

  .iconsax {
    --Iconsax-Color: #264AEC;

  }
}

body {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F8F8;
  color: #000;
  font-size: 14px;
}


a {
  transition: all 0.3s;
  text-decoration: none !important;
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
}


.logo {
  margin-inline-end: 4rem;
  width: 36px;
  height: 36px;
  flex-shrink: 0;

}

.top-nav {
  padding: 10px 0;
  background: $dark_color;
  color: #fff;
  overflow: hidden;

  ul {
    margin-bottom: 0;
  }

  .languages {
    a {
      color: $text-disabled;

      &:hover {
        color: $link-hover !important;
      }
    }

    li.active {
      a {
        color: #fff;
      }
    }
  }
}

.main-header-content {
  border-bottom: 1px solid #E0E0E0;
  padding-block: 16px;

}

.single-msg {
  flex-shrink: 0;
  flex-grow: 1;
}

.js-marquee {
  display: flex;
  gap: 20px;
}

.header-mini-nav {
  transition: 0.3s;
  display: flex;
  gap: 2rem;
  flex-shrink: 0;

  a {
    color: $text-primary;
    display: block;
    text-transform: capitalize;

    &:hover {
      color: $link-hover;
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.40);
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: 0.3s;
  }
}

.header-search-form {
  position: relative;
  z-index: 6;
  transition: 0.3s;

  form {
    position: relative;

    .btn-submit {
      position: absolute;
      inset-inline-start: 14px;
      top: 7px;
      border: 0;
      box-shadow: none !important;

      path {
        transition: 0.3s;
      }

      &:hover {
        path {
          stroke: $main_blue;
        }
      }
    }

    .search-input {
      position: relative;

      .form-control {
        height: 44px;
        box-shadow: none;
        padding-inline-end: 20px;
        padding-inline-start: 40px;
        background: none;
        border-radius: 8px;
        border: none;
        background: $bg-secondary;
        transition: 0.3s;

        &::placeholder {
          font-size: 16px;
          color: $text-placeholder;
        }

        //&:focus {
        //  box-shadow: 0 0 0 1px $main_blue
        //}
      }
    }
  }
}

.recent-search-keywords {

  border-radius: 10px;
  border: 1px solid #E0E0E0;
  padding: 1rem 2rem;
  background: $bg-secondary;

  //transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 99;
  width: 100%;

  &.show {
    opacity: 1;
    transition: 0.5s;
    pointer-events: auto;
    transform: translateY(4px);
  }

  .keywords-section {
    margin-bottom: 20px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 1rem;
      align-items: center;
      cursor: pointer;

      .delete {
        border: 0;
        background: none;
        padding: 0;

        &:hover {
          path {
            fill: $link-hover;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.user-nav:not(.dropdown-menu) {
  align-items: center;

  > li {
    position: relative;
    //margin-inline-end: 0;
    //margin-right: 0 !important;

    margin-inline-end: 1rem;

    &:last-child {
      margin-inline-end: 0;

    }

    a {
      color: $text-primary;
      font-size: 15px;

      i {
        color: $main_blue;
        font-size: 20px;
        margin-inline-end: 2px;
      }
    }


    span {
      position: absolute;
      width: 15px;
      height: 15px;
      background: $main_blue;
      text-align: center;
      font-weight: bold;
      box-shadow: 0 0 0 1px white;
      font-size: 11px;
      border-radius: 50%;
      color: #fff;
      inset-inline-start: -3px;
      top: -10px;
    }

    &:hover {
      a {
        //color: $main_blue;
      }
    }
  }

  .dropdown-menu {
    inset-inline: auto 0;

    a {
      padding: 10px;

      &:hover {
        background: $main_blue;
        color: #fff;

        i {
          --Iconsax-Color: white;
          //color: #fff;
        }
      }
    }

    li:first-child {
      border-radius: 8px 8px 0 0;
    }

    li:last-child {
      border-radius: 0 0 8px 8px;
    }
  }


}

.user-logged-in {
  .user-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin: 0 7px -10px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main-menu {
  background: $main_blue;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.navbar-light {
  border: none;
  padding: 0;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: white;
  background: none;
  //box-shadow: inset 0 -2px 0 0 $text-primary;;
}

.navbar-light .navbar-nav .nav-item.active:hover .nav-link {
  color: $link-hover;
  background: none;

}

.navbar-light .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  position: relative;
  line-height: 48px;
  transition: 0.3s;
  text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
  //color: #d9d9d9;
  font-weight: 900;
  background: none;

}

li.nav-item.special-item::before {
  content: '';
  background: white;
  width: 100%;
  display: block;
  height: auto;
  position: absolute;
  inset: 12px 0;
  border-radius: 16px;
  transition:0.3s;
}

li.nav-item.special-item {
  position: relative;
  & a {
    color:#264aec !important;

  }
  &:hover {
    &::before {
      background:#00000040;

    }
    & a {
      color:white !important;
      font-weight:normal !important;
    }

  }
}

.navbar-light .dropdown a {
  background: none !important;
}

.navbar-light .dropdown > ul a:hover {
  color: white !important;
  background: $main_blue !important;
}

.navbar-light .dropdown .dropdown-menu li {
  border: none !important;
  margin-right: 0;
  margin-inline-end: 0;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }
}

.navbar-light .dropdown .dropdown-menu li a {
  border: none !important;
  color: $text-primary;
  padding: 10px 15px;
  font-size: 14px;
  box-shadow: none;
  border-radius: 0;
}

//.navbar-light .dropdown .dropdown-menu li:hover a {
//  border: none !important;
//  color: white !important;
//  background: $main_blue !important;
//}
.navbar-light .navbar-nav > .open > a,
.navbar-light .navbar-nav > .open > a:focus,
.navbar-light .navbar-nav > .open > a:hover {
  color: #136BCF;
  background: none !important;
}

.navbar-light .navbar-nav > li > a:focus,
.navbar-light .navbar-nav > li > a:hover {
  color: #136BCF;
  background: none !important;
}

.dropdown-item:has(+ .submenu) {
  //display: flex;
  //justify-content: space-between;
  position: relative;

  &:after {
    content: '›';
    position: absolute;
    inset-inline-end: 12px;
    //transition: 0.3s;
  }

}

.dropdown-menu, .dropdown-menu.submenu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  box-shadow: 0 3px 12px 0 rgb(0 0 0 / 7%);
  background: white;
  border: 0;
  border-radius: 8px;
  padding: 0;

  li:first-child {
    a {
      border-radius: 8px 8px 0 0 !important;
    }
  }

  li:last-child {
    a {
      border-radius: 0 0 8px 8px !important;
    }
  }
}

.dropdown-menu.show, .dropdown-menu > li:hover > .submenu {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.3s;
}
.mobile-mini-nav {
  border-top: 1px solid white;
 padding-block:8px;
  a {
    color: #fff;
    padding-block:9px;
    display: block;
    font-size: 16px;
  }
}
// navbar
/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.3s;
    position: absolute;
    inset-inline-start: 100%;
    top: -7px;
  }
  .dropdown-menu .submenu-left {
    inset-inline-end: 100%;
    inset-inline-start: auto;
  }

  .dropdown-menu > li:hover {
    background-color: $main_blue;

    > a {
      color: #fff !important;
    }

  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

@media (max-width: 991px) {

  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: .5rem;
  }
}

.navbar-toggler {
  padding: 0;
  border: 0;
  box-shadow: none !important;
  outline: none;
  margin-inline-end: auto;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  opacity: 0.5;
  width: 20px;
  margin-inline-end: 6px;
}

.navbar-light .navbar-nav .all-categories-li {
  position: relative;
  //box-shadow: inset 0 -2px 0 0 $text-primary !important;
  li {
    img {
      width: 16px;
      margin-inline-end: 5px;
    }

    &:hover {
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &:hover > a {
    color: $main_blue !important;
    background: #fff !important;
  }

  //&:after {
  //  display: inline-block;
  //  content: '';
  //  height: 24px;
  //  width: 1px;
  //  background: #E0E0E0;
  //  position: absolute;
  //  inset-inline-end: 0;
  //  top: 50%;
  //  transform: translateY(-50%);
  //}

  > .nav-link {
    font-weight: bold;
    //color: $text-primary !important;
    //background: #fff !important;
    //text-transform: capitalize;
  }

  i {
    transition: 0.3s;
    --Iconsax-Color: #fff;
  }

  .show {
    i {
      transition: 0.3s;
      --Iconsax-Color: #264AEC;
      //transform: rotate(180deg)
    }
  }


}

.header-slider {
  .swiper-wrapper, .swiper {
    border-radius: 25px;
    padding-bottom: 17px;
  }

  .swiper-slide {
    width: 100%;
    height: 500px;

    img {
      border-radius: 25px;
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 23px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid $main_blue;
  margin: 0 !important;
  opacity: 1;
  border-radius: 50%;

  &.swiper-pagination-bullet-active {
    border: none;
    background: $main_blue;
  }
}

.features-wrapper {
  gap: 2rem;
  margin-top: 30px;

  .single-feature {
    font-size: 18px;
    //font-weight: 600;

    .iconsax {
      --Iconsax-Size: 36px;
    }

    .title {
      font-weight: 600;
      color: $text-primary;
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {

      font-size: 14px;
    }
  }
}

.section-title {
  font-size: 18px;
  color: $text-primary;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-weight: 600;
}

.see-all {

  font-size: 13px;
  font-weight: 500;
  color: $text-secondary;
  border: 1px solid rgb(82 82 82 / 22%);
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: capitalize;
  background: white;

  &:hover {
    color: white;
    background: $main_blue;
    border-color: $main_blue;
  }
}

.categories-wrapper {
  .swiper-wrapper {
    padding-top: 1em;
    margin-top: -1em;
  }
}

.single-cat-item {
  //margin: auto;
  //width: 130px;
  flex-basis: 0;
  text-align: center;
  transition: 0.3s;

  .title {
    font-size: 17px;
    color: $text-primary;
    //font-weight: 600;
    transition: 0.3s;

  }

  .item-img {
    background: $main_yellow;
    border-radius: 50%;
    width: 130px;
    aspect-ratio: 1/1;
    margin: 0 auto 12px;
    display: grid;
    place-content: center;
    transition: 0.3s;
    box-shadow: 0 0 0 20px transparent;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;

    }
  }

  &:hover {
    .item-img {
      box-shadow: 0 5px 5px rgba(249, 220, 92, 0.31);
    }

    transform: translateY(-5px);

    span, .title {
      color: $link-hover !important;
    }
  }
}

.promotions-wrapper.promotion-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  a {
    img {
      border-radius: 10px;
    }

    &:first-child {
      grid-column: span 2;

      img {
        width: 100%;
        //height: 180px;
      }
    }

    &:nth-child(2) {
      grid-row: span 2;
      grid-column: span 2;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &:nth-child(3), &:last-child {
      img {
        width: 100%;
        //height: 180px;
      }
    }
  }
}

.promotions-wrapper.d-flex {
  gap: 24px;

  a {
    flex: 1;

    img {
      width: 100%;
      //height: 271px;
      border-radius: 10px;

    }
  }
}

.nice-select {
  span.current {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }
}


.filter-cats {
  ul {
    padding: 0;
    margin: 0;
    gap: 5px;
    align-items: center;

    button {
      background: none;
      border: none;
      color: $text-disabled;
      font-size: 15px;
      font-weight: 600;
      display: block;
      padding: 6px 12px;
      transition: 0.3s;
      border-radius: 6px;
      line-height: normal;

      &.active, &:hover {
        color: white;
        background: $main_blue;


      }
    }
  }
}

.container-inner {
  position: relative;
}

.products-slider {


  .swiper-slide {
    height: auto;
  }
}

.container-inner {
  &:hover {
    .swiper-button-next-outside,
    .swiper-button-prev-outside {
      opacity: 1;
    }

    .swiper-button-next-outside {
      inset-inline-end: -30px;
    }

    .swiper-button-prev-outside {
      inset-inline-start: -30px;
    }
  }
}

.single-product-wrapper {
  border-radius: 10px;
  background: #fff;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  border: 1px solid #E0E0E0;
  will-change: transform;
  backface-visibility: hidden;

  .badge {
    background: var(--badge-color);
    margin-top: 10px;
    font-weight: normal;
  }

  .top-icons {
    align-items: center;

    .add-to-fav {

      border: 1px solid #80808042;
      border-radius: 50%;
      padding: 6px;
      box-shadow: 0 0 6px 1px #00000021;

      &:hover {
        path {
          fill: $link-hover
        }
      }

      i {
        --Iconsax-Size: 20px;
      }
    }

  }

  .item-img {
    height: 164px;
    width: 100%;
    text-align: center;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
      margin: auto;
    }
  }

  .product-title {
    margin: 17px 0;

    a {
      color: $text-primary;
      font-size: 14px;
    }
  }

  .product-rate {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 17px;
    color: $text-secondary;
    font-size: 12px;

    .rate-ratio {
      background: $main_yellow;
      border-radius: 25px;
      font-size: 12px;
      padding: 1px 6px;
      display: inline-flex;
      justify-content: center;
      color: $text-primary;
      align-items: center;
    }
  }

  .item-price {
    font-size: 18px;
    margin-bottom: 34px;
    margin-top: auto;
    display: flex;
    gap: 10px;

    .old-price {
      text-decoration: line-through;
      color: #ABAFB4;
    }
  }


  &:hover {
    //background: $bg-secondary;
    scale: 0.99;
    border-color: $text-placeholder
  }
}

.add-to-fav {

  i {
    --Iconsax-Size: 20px;
  }
}

.add-to-cart {
  margin-top: auto;
  padding: 11px;
  border-radius: 10px;
  background: $main_blue;
  width: calc(100% + 32px);
  margin-inline-start: -16px;
  margin-bottom: -16px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;

  &:hover, &:focus, &:active {
    background: $link-hover;
    color: #fff;
  }
}

.swiper-button-next-outside, .swiper-button-prev-outside {
  width: 35px;
  height: 35px;
  background: #fff;
  box-shadow: 0 0 0 1px #E0E0E0;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: 0.3s;
  opacity: 0;

  &:hover {
    color: white;
    background: $main_blue;

    i {
      --Iconsax-Color: white;
    }
  }

  i {
    --Iconsax-Size: 18px;
  }
}

.swiper-button-next-outside {
  inset-inline-end: -10px;
}

.swiper-button-prev-outside {
  inset-inline-start: -10px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
}

.top-slider-arrows {
  display: flex;
  gap: 10px;

  .swiper-button-next-outside, .swiper-button-prev-outside {
    opacity: 1;
    position: static;
    transform: none;
    //padding: 5px;

    border: 0;
    box-shadow: none;
    background: $main_blue;
    width: 25px;
    height: 25px;
    i {
      --Iconsax-Color: #fff;
      --Iconsax-Size: 16px;
    }
    &:hover {
      background: $bg-secondary;

      i {
        --Iconsax-Color: #264AECFF;
      }
    }
  }
}

.sale-banners {
  .banners-wrapper {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 2fr));
  }



    img {
      border-radius: 10px;

      //width: 264px;
      //height: 271px;
      width: 100%;

  }
}

//.brands-wrapper {
//  gap: 24px;
//  display: grid;
//  grid-template-columns: repeat(auto-fit, minmax(168px, 2fr));
//  justify-items: center;
//}

.brand-logo {
  //height: 100px;
  padding: 10px;
  display: grid;
  place-content: center;
  width: 100%;

  img {
    object-fit: contain;
    height: 60px;
  }
}

.single-blog-post {
  overflow: hidden;
  background: white;
  padding: 10px;
  border-radius: 15px;
transition: 0.3s;
  .post-thumbnail {
    overflow: hidden;


    img {
      height: 353px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    &.small {
      img {
        height: 225px;
      }
    }
  }

  .post-title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 140%;
    color: $text-primary;

    a {
      color: $text-primary;
    }
  }

  &:hover {
    box-shadow: rgb(145 145 145 / 21%) -1px 5px 16px 0px;
    transform: translateY(-5px);
    a {
      color: $text-secondary;
    }
  }


}

.read-more {
  color: $main_blue;
  font-size: 15px;

  display: block;
  font-weight: 500;

  &:after {
    content: '➡';
    margin-inline-start: 5px;
  }
}

.subscribe {
  width: 360px;
  max-width: 100%;

  .section-title {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 600 !important;
  }
}

.footer-logo {
  margin-top: 22px;
}

.subscribe-form {
  position: relative;
  margin-bottom: 1rem;

  + p {
    margin-bottom: 0;
  }

  .form-control {
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 10px;
    padding-inline: 0;

    height: 40px;
    background: #f8f8f8;
    padding: 12px;

    &::placeholder {
      color: $text-placeholder;
      font-size: 14px;
    }

    &:focus {
      border-bottom-color: $main-blue;
    }
  }

  .btn-submit {
    position: absolute;
    inset-inline-end: 0;
    top: 0;
    bottom: 0;
    padding-inline-end: 10px !important;

    .iconsax {
      --Iconsax-Size: 17px;
    }
  }
}

#price-slider {
  margin-bottom: 20px;
}

.noUi-horizontal {
  height: 8px;
  background: #dfdfdf;
  border: 0;
  box-shadow: none;
}

.noUi-connect {
  background: $main_blue;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px $main_blue;
  border: 0;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
  display: none;
}
.buy-now-btn {
  font-weight: bold;
  flex-shrink: 0;
  font-size: 16px;
}
footer {
  margin-top: 4em;

  padding-top: 3em;
  //padding-top: 3em;
  .footer-lists {
    gap: 62px;
  }
.payments {
  img {
    width: 40px;
    border-radius: 4px;
  }
}
  h6 {
    font-size: 16px;
    font-weight: 600;
    color: $text-primary;
    margin-bottom: 16px;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 0;

    li {
      text-transform: capitalize;
      font-size: 14px;

      &:hover {
        a {
          color: $link-hover;
        }
      }
    }

    a {
      font-size: 14px;
      color: $text-primary;
    }
  }

  .cp {
    a {
      color: $text-primary;
    }
  }
}

.footer-wrapper {
  border-bottom: 1px solid #E0E0E0;
  background: white;
  border-radius: 20px 20px 0 0;
  padding: 2em 2em;
}

.copyrights {
  padding: 1rem 2rem;
  background: $main_blue;
  border-radius: 0 0 20px 20px;
  margin-bottom: 1.5em;
  color: #fff;
  font-weight: bold;

  ul {
    margin: 0;

    a {
      color: white;

      &:hover {
        color: $text-primary;
      }
    }
  }

  .social-list {
    a {
      path {
        fill: #fff;
      }

      &:hover {
        path {
          fill: $text-primary;
        }
      }
    }
  }
}


.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  background: $main_blue;
  font-size: 16px;
   display: none;
  border: white;
  border-radius: 55%;
  z-index: 9999;
  transition: all 0.3s;
  padding: 4px 0 0 5.5px;
}

.go-top i {
  --Iconsax-Size: 20px;
  --Iconsax-Color: white;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}


.modal-backdrop {
  background: rgba(0, 0, 0, 0.40);


  &.show {
    opacity: 1 !important;
  }

}

.modal-content {
  border-radius: 24px;
  border: none;
  padding: 24px 32px;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-weight: 600;
}

[data-bs-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-bs-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.specification-list {
  padding: 0;
  columns: 2;
  list-style-position: inside;

  li {

  }
}

// inner page
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  li {

    a {
      color: $text-muted;
      font-weight: 600;
      display: flex;
      align-items: center;

      &:after {
        content: '';
        background: url("../images/icons/arrow-left.svg") 0 0 no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-inline-start: 8px;
        margin-inline-end: 16px
      }

      &:hover {
        color: $link-hover;
      }
    }

    &:last-child {
      a {
        color: $text-primary;

        &:after {
          display: none;
        }
      }
    }
  }
}

.single-product-page {
  .swiper-pagination {
    bottom: -17px;
  }
}

.product-main-slides {
  padding-bottom: 1rem;

  .swiper-slide {
    width: 100%;
    height: 460px;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

}

.product-thumbnails {
  margin-top: 27px;

  .swiper-slide {
    height: 160px;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.single-product-info-wrapper {


  .add-to-cart {
    width: 100%;
    flex-grow: 0;
    margin: 0;
  }

  .share {
    margin-top: 41px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 1rem;

    path {
      &:hover {
        fill: #999999
      }
    }
  }

  .shopping-features {
    color: $text-secondary;
    font-weight: 400;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    span {
      color: #000;
    }

    i {
      margin-inline-end: 8px;
    }
  }
}

.quantity-wrapper {
  margin-top: 44px;

  .quantity-select {
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    padding: 16px;
    width: 90px;
    flex-shrink: 0;
    position: relative;
    min-height: 51px;

    &:before {
      content: '';
      background: url("../images/icons/arrow-down.svg") 0 0 no-repeat;
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      inset-inline-end: 16px;
      margin-inline-start: 10px;
      z-index: 4;
      pointer-events: none;
      transition: 0.3s;
      top: 50%;
      translate: 0 -50%
    }

    &:has(.nice-select.open) {
      &:before {
        rotate: 180deg;
      }
    }
  }

  .nice-select {
    border: none;
    padding: 0;
    line-height: 2;
    height: auto;
    font-size: 14px;
    font-weight: 600;
    width: 100%;

    &:after {
      display: none;
    }

    .current {
      position: relative;

      &:before {
        content: '';
        width: 1px;
        height: 22px;
        background: #E0E0E0;
        position: absolute;
        inset-inline-end: 61%;
      }
    }

    .list {
      min-width: 90px;
      inset-inline-start: -16px;
      /* width: auto; */
      /* margin: auto; */
      top: 180%;
    }
  }
}

.custom-nice-select {

  padding-inline-end: 2.5rem;

  &:after {
    display: none;
  }

  &:before {
    content: '';
    background: url("../images/icons/arrow-down.svg") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    inset-inline-end: 16px;
    margin-inline-start: 10px;
    z-index: 4;
    pointer-events: none;
    transition: 0.3s;
    top: 50%;
    translate: 0 -50%;

  }

  .list {
    width: 100%;
  }

  &.open {
    &:before {
      rotate: 180deg;
    }
  }
}

.nice-select.text-blue {
  .list {
    color: $text-primary;
  }
}

.iti__arrow {
  background: url("../images/icons/arrow-down.svg") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  border: 0;
  transition: 0.3s;

  &.iti__arrow--up {
    rotate: 180deg;
  }
}


.iti__selected-flag {

  padding: 0 6px 0 15px;
}

.iti {
  display: block;
  margin-bottom: 24px;
}

.iti input[type=tel] {
  padding-left: 74px;
}

.custom-nice-select.form-control {
  width: 100%;
  display: flex;
}

.product-brand {
  color: $text-secondary;
  font-weight: 600;

  &:hover {
    color: $link-hover;
  }
}

.product-name {
  color: $text-primary;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
}

.in-stock {
  color: #fff;
  background: #24A148;
  padding: 3.675px 6.825px;
  border-radius: 50rem;
  font-size: 0.85em;

}

.out-of-stock {
  color: #DA1E28;
}


.models-with-img-options {
  display: flex;
  gap: 16px;
  margin-top: 12px;

  .model-name {
    padding-top: 10px;
  }

  .option {
    text-align: center;

    input[type="radio"] {
      display: none;
    }

    label {
      //display: inline-flex;
      overflow: hidden;
      max-width: 100px;
      //height: 80px;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 0;
      box-shadow: 0 0 0 0.5px lightgray;

      img {
        width: auto;
        height: 70px;
        object-fit: contain;
      }
    }
  }

  input[type="radio"]:checked + label {
    box-shadow: 0 0 0 1px $main_blue;
  }
}

.colors-options {
  .option {

    input[type="radio"] {
      display: none;

    }

    label {
      background: var(--color);
      box-shadow: 0 0 0 0.5px lightgray;
      width: 25px;
      height: 25px;
      transition: 0.3s;
      cursor: pointer;
    }

    input[type="radio"]:checked + label {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
      transform: scale(1.2);
      //border-radius: 4px;

    }
  }


}

.sizes-options {
  .option {

    input[type="radio"] {
      display: none;

    }

    label {
      background: white;
      box-shadow: 0 0 0 0.5px lightgray;

      padding: 5px 10px;
      transition: 0.3s;
      cursor: pointer;
    }

    input[type="radio"]:checked + label {
      background: $main_blue;
      color: #fff;
    }
  }
}

.specification-table {
  font-size: 13px;
  --bs-table-striped-bg: #264aec0a;

  tr {

    td {
      padding: 10px 15px;
      border: 0;
      color: #6c757d;

      &:first-child {
        font-weight: bold;
        color: $text-primary;
        border-radius: 20px 0 0 20px;
      }

      &:last-child {
        border-radius: 0 20px 20px 0;
      }
    }
  }
}

.product-details-and-reviews,.form-tabs {
  .tabs-wrapper {
    //border-bottom: 1px solid #E0E0E0;
  }

  .nav-link {
    border: 0;
    margin: 0;
    font-size: 16px;
    color: $text-primary;
    border-radius: 10px 10px 0 0;
    padding: 10px 1.5em;
    background: $bg-secondary;

    &.active {
      color: white;
      background: $main_blue;
    }
  }

  .tab-content {

    background: white;
    padding: 1.5rem;
    border-radius: 0 20px 20px;
  }
}

.single-review {
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #E0E0E0;
  color: #000;
}

.alert {
  border: 0;
  font-size: 14px;
  font-weight: 600;
}

.alert-dismissible .close {
  padding: 0;
  background: none;
  position: absolute;
  top: 0;
  border: 0;
  inset-inline-end: 0;
}

.alert-success {
  background: #24A148;
  color: #fff;
}

.alert-warning {
  background: #F1C21B;
  color: #fff;
}

.alert-danger {
  background: #DA1E28;
  color: #fff;
}

.alert-info {
  background: $main_blue;
  color: #fff;
}

.add-rating {
  display: inline-block;
  position: relative;
}

.add-rating .rating-input {
  display: none;
}

.add-rating:hover .rating-star:hover,
.add-rating:hover .rating-star:hover ~ .rating-star,
.add-rating .rating-input:checked ~ .rating-star {
  background-position: 0 0;
}

.add-rating .rating-star,
.add-rating:hover .rating-star {
  cursor: pointer;
  float: right;
  display: block;
  margin-right: 3px;
  width: 32px;
  height: 32px;
  background: url(../images/icons/stars.png) 0 -34px;
}
.social-login {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap:30px;
  img {
    width: 40px;
    transition: all 0.3s linear;
  }
  a {
    &:hover {
      img {
        transform:scale(1.02);
      }
    }
  }
}
.form-wrapper {
  .text-primary.fz24.mb-3 {
    font-weight: bold;
  }
}
.options-checks {
  display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media all and (max-width: 768px) {

  .position-sticky {
    position: static !important;
  }
}
@media all and (max-width: 600px) {
  .options-checks {

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.review-form, .modal, .input-wrapper {
  .form-control {
    min-height: 50px;
    padding-inline: 17px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;

    &::placeholder {
      color: $text-placeholder;
      font-size: 14px;
      font-weight: 400;

        text-transform: capitalize;

    }

    &:focus {
      box-shadow: inset 0 0 0 1px $main_blue;
    }
  }

  textarea.form-control {
    padding: 15px;
    min-height: 100px;


  }
  input[type="file"] {
    min-height: unset;
    padding: 0.375rem 0.75rem !important;
  }

  .btn-primary, .btn-secondary {
    padding-block: 14px;
  }
}

// cart
.cart-page-container {
  padding-bottom: 5rem;
}

.cart-items-wrapper {
  padding-inline-end: 3rem;
}

.single-cart-item {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  gap: 24px;
  border-bottom: 1px solid #E0E0E0;

  .item-img {
    flex-shrink: 0;
    width: 168px;
    height: 120px;
    border-radius: 10px;
    background: #D9D9D9;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.remove-item, .edit, .buy-item {
  padding-inline: 5px;
  border: 0;

  &:hover {
    color: $link-hover !important;
  }
}

.order-summary {
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #D1D1D8;


  .btn-primary {
    padding-block: 13px;
  }
}

.hr {
  background: #D1D1D8;
  height: 1px;
  width: 100%;
  border: 0;
  opacity: 1;
  margin: 2rem 0;
}

.info-line {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  strong {
    font-weight: 500;
    font-size: 16px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
  }
}

.custom-check {
  display: flex;

  align-items: center;
  gap: 14px;

  input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin: 0;
    box-shadow: none !important;
    border: 1px solid $main_blue;
    transition: 0.3s;

    &:checked {
      background-color: $main_blue;
      border: 1px solid $main_blue;
      background-image: url('../images/icons/check_solid.svg');
      transition: 0.3s;
    }
  }
}

.custom-radio {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 32px;

  input[type=radio] {
    width: 22px;
    height: 22px;
  }

  .form-check {
    display: flex;
    margin-bottom: 0;
  }

  .form-check-input {
    flex-shrink: 0;
    border: none;
    background: none !important;
    box-shadow: inset 0 0 0 2px #525252;
    transition: 0.3s;
    margin-inline-end: 16px;
    margin-top: 8px;
  }

  .form-check-input:checked {
    box-shadow: inset 0 0 0 2px $main_blue, inset 0 0 0 5px white, inset 0 0 0 13px $main_blue;
    transition: 0.3s;
  }

  span {
    display: flex;
    align-items: center;
  }
}

.actions {
  button {
    border-radius: 0;
    padding-block: 0;
  }

  button:has( + button) {
    border-inline-end: 1px solid #D1D1D8 !important;
    padding-inline-end: 24px;
    margin-inline-end: 24px;
  }
}

.coupon-field {
  position: relative;
  display: flex;
  gap: 8px;
  margin-bottom: 24px;

  svg {
    position: absolute;
    inset-inline-start: 16px;
    top: 50%;
    bottom: auto;
    translate: 0 -50%;
  }

  .form-control {
    border-radius: 10px;
    border: 1px solid #D1D1D8;
    padding: 1rem;
    padding-inline-start: 56px;
    outline: 0 !important;

    &::placeholder {
      color: #A2A3B1;
      font-size: 14px;
    }

    &:focus {
      box-shadow: inset 0 0 0 1px $main_blue !important;
    }
  }

  .submit-coupon {
    border-radius: 10px;
    border: 1px solid #D1D1D8;
    background: white;
    color: $main_blue;
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
      background: $main_blue;
      color: #fff;
      border-color: $main_blue;
    }
  }
}

.iti__flag {
  background-image: url("../images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../images/flags@2x.png");
  }
}

.thanks-for-your-order {
  height: 70vh;
  display: flex;
  align-items: center;
  padding-block: 3em;


}

.pattern-bg {
  position: relative;

  &:before {
    content: '';
    background: url("../images/Logo without slogan 1.png");
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0.05;
    pointer-events: none;
  }
}

.gap-end {
  padding-inline-end: 190px;
}

.asides-gap {
  padding-inline: 130px;
  padding-block: 100px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

#method_content_1, #method_content_2 {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.method-wrapper:has(#method_1:checked) #method_content_1, .method-wrapper:has(#method_2:checked) #method_content_2 {
  height: auto;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;


}

.create-account-container {
  min-height: 100vh;
  height: 100%;
}

.gradiant-side {
  background: linear-gradient(180deg, #264AEC 0%, #83BFD1 100%);
  min-height: 100vh;
  height: 100%;
  //padding-inline-start: calc((100vw - 1312px) / 2);
  padding: 100px 15px 100px;

  position: relative;

  &:before {
    content: "";
    background: url('../images/Logo without slogan white.png');
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0.05;
    pointer-events: none;
  }
}

.social-btn {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #181823;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  color: $text-primary;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;

  &:hover {
    background: $main_blue;
    color: #fff;

    path {
      fill: white;
    }
  }

}

.or {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 32px;

  &:after, &:before {
    content: "";
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid #E0E0E0;
  }
}

.reset-code-wrapper {
  .form-control {
    font-size: 35px;
    text-align: center;
    max-width: 96px;
    aspect-ratio: 1/1;
    padding: 5px;
  }
}

.single-filter {
  margin-bottom: 1em;
  border-bottom: 1px solid #DEE2E6;

  &:last-child {
    border-bottom: 0;
  }
}

.sort-by {
  gap: 10px;
}

.filter-title {
  font-size: 16px;
  color: #181823;
  display: flex;
  margin-bottom: 1rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;

  &.closed {

    &:after {
      rotate: 180deg;
    }
  }

  &:after {
    content: '';
    background: url("../images/icons/noun_drop down.svg") 0 0 no-repeat;
    display: block;
    width: 12.457px;
    height: 6.75px;
    transition: 0.3s;
  }
}

.parent-cat {
  color: #7F8286;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  padding-bottom: 16px;

  &:last-child {
    padding-bottom: 0;
  }

  .parent-cat {
    padding-bottom: 0;
  }

  &:before {
    content: '';
    background: url("../images/icons/square+.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    margin-inline-end: 16px;
    display: inline-block;
    transition: 0.3s;
  }

  &.expand {
    &:before {
      background: url("../images/icons/square-.svg") 0 0 no-repeat;

    }
  }

  label {
    display: block;
    padding-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
    padding-inline-start: 3px;

    input {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }

    &:has(input:checked) {
      color: $main_blue;
    }
  }
}

.child-cats {
  color: $text-primary;
  display: none;
  padding-inline-start: 1rem;
  width: 100%;
  padding-top: 8px;

}

.filter-content {
  padding-bottom: 1rem;

  .custom-check {
    color: #7F8286;
    margin-bottom: 12px;
  }
}

.price-filter {
  display: flex;
  align-items: center;
  gap: 10px;

  .number-input {
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    min-height: 41px;
    padding: 10px;
    width: 100%;
    background: #FFF;
    outline: none;
    color: #7F8286;

    &:focus {
      border-color: $main_blue;
      box-shadow: none;
    }
  }

  .apply {
    color: $main_blue;
    background: none;
    border: none;
    transition: 0.3s;
  }
}

.pagination {
  margin-top: 45px;

  .page-link {
    border: 0;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #40444C;
    margin-inline-end: 8px;

    &.active {
      color: #007AFF;
      background: #E6F2FF;
    }
  }
}

#copyURL {
  position: relative;
  cursor: pointer;
}

.copy-notice {
  position: absolute;
  width: 100px;
  display: block;
  bottom: 100%;
}

.blog-title {
  //border-bottom: 1px solid #000;
}
.post-content {
  background: #fff;
    padding: 2rem;
    border-radius: 10px;

}
.main-blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  .single-blog-post {
    img {
      height: 170px !important;
    }

    &:first-child {
      grid-column: span 2;
      grid-row: span 2;

      img {
        width: 100%;
        height: 100% !important;
        //height: 180px;
      }
    }

    &:nth-child(2) {
      //grid-row: span 2;
      //grid-column: span 2;

      img {
        width: 100%;
        //height: 100%;
      }
    }

    //&:nth-child(3), &:last-child {
    //  img {
    //    width: 100%;
    //    //height: 180px;
    //  }
    //}
  }
}

// user account page
.profile-wrapper {
  button.hover-bg-secondary:hover {
    background: $main_blue !important;
    color: white !important;
    svg path{
      fill:white
    }
  }
}
.profile-sidebar {
  background: #264aec;
  margin-top: 2rem;
  border-radius: 16px;
  height: auto !important;
  padding: 0 !important;
  border: 0.8px solid rgb(222, 226, 230);
  overflow: hidden;
  .toggle-mobile-trigger {
    padding: 1em;
    color: #fff !important;
    margin: 0 !important;
    font-weight: bold;
    background: #1b3cd4;
  }
}
.account-nav {
  margin-bottom: 0;
  li {

    border-top: 1px solid #ffffff2e;


    a {
      font-size: 16px;
      font-weight: bold;
      color: white;
      padding-inline: 1rem;
      padding-block: 1rem;
      display: block;
      &:hover, &.active {
        color: $main_blue;
        background: #fff;
        img {
          filter:none;
        }
      }
    }
    img {
      width: 20px;
      margin-inline-end:10px;
      filter:brightness(0) invert(1);
    }
  }
}

.togglePassword {
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-end: 20px;
  background: none;
  border: none;


  img {
    &:last-child {
      display: none;
    }
  }

  &.hide {
    img {
      &:last-child {
        display: block;
      }

      &:first-child {
        display: none;
      }
    }
  }
}

.balance-activity-table, .orders-table {

  border: 1px solid #E0E0E0;
  border-radius: 10px;
  overflow: hidden;

  table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
  }

  thead {
    th {
      background: #F4F4F4;
      padding: 16px 20px;
    }
  }

  tr {
    border: 1px solid #E0E0E0;

  }

  th,
  td {
    padding: 18px 20px;
    text-align: center;
  }

  &.orders-table {
    overflow: unset;

    thead {
      tr {
        th {
          &:first-child {
            border-radius: 10px 0 0 0;
          }

          &:last-child {
            border-radius: 0 10px 0 0;
          }
        }
      }
    }
  }
}

.choose-currency {
  .custom-nice-select {
    min-height: 60px;
    display: flex;
  }
}

.user-order-actions {
  > a.show {
    img {
      filter: invert(18%) sepia(55%) saturate(6457%) hue-rotate(233deg) brightness(97%) contrast(91%);
    }
  }

  .dropdown-menu {
    width: auto;
    min-width: 100px;
    border-radius: 10px;
    background: #F4F4F4;
    text-align: center;
    overflow: hidden;
    box-shadow: none;
    font-size: 14px !important;

    li {

      &:hover {
        a {
          background: $main_blue;
          color: #fff !important;
        }
      }
    }
  }
}

// invoice modal
.invoice-modal {
  .modal-lg {
    max-width: 555px;
  }

  .modal-header {
    border-radius: 10px 10px 0 0;
  }
}

.invoice-products-table {
  table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;

    thead {
      tr {

        th {
          font-size: 11px;
          color: #60737D;
          font-weight: 400;
          text-align: end;
          padding-bottom: 2rem;

          &:first-child {
            font-size: 14px;
            font-weight: 600;
            color: $text-primary;
            text-align: start;
          }
        }
      }
    }

    tbody {
      padding-top: 2rem;

      tr {
        border-bottom: 1px solid #E0E0E0;

        &:first-child {
          td {
            padding-top: 0;
          }
        }

        td {
          font-size: 11px;
          font-weight: 400;
          text-align: end;
          color: #60737D;
          padding-block: 1rem;

          &:first-child {
            text-align: start;
            color: $text-primary;
          }

          &:last-child {
            color: $text-primary;

          }
        }
      }
    }
  }

  .total-wrapper {
    position: relative;

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background: $main_blue;
      display: block;
      position: absolute;
      inset-inline-end: 0;
      top: 50%;

    }
  }

  .total {
    border-radius: 12px;
    background: $main_blue;
    padding: 9px 20px;
    color: #fff;
    display: inline-flex;
    align-self: end;
    gap: 40px;
    z-index: 1;
    position: relative;
  }
}

.user-avatar {
  width: 24px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

//notifications dropdown

.notifications {
  min-width: 420px;
  max-width: 100%;

  .notifications-wrapper {
    overflow: auto;
    max-height: 280px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #dadada;
    }
  }

  .notification-item {
    padding: 10px;
    margin: 10px;
    background: $bg-secondary;
    border-radius: 6px;
  }
}

// RTL custom CSS
html[dir=rtl] {
  div[class^="swiper-button"] {
    transform: scaleX(-1)
  }

  .read-more {

    &:after {
      content: '⬅';

    }
  }

  .pagination .page-link svg {
    transform: scale(-1);
  }

  [type=email], [type=number], [type=tel], [type=url] {
    direction: rtl;
  }

  .subscribe-form .btn-submit i {
    transform: scaleX(-1);
  }

  .breadcrumbs li a:after {
    transform: scaleX(-1);
  }
}

[dir=rtl] .iti--allow-dropdown input, [dir=rtl] .iti--allow-dropdown input[type=tel], [dir=rtl] .iti--allow-dropdown input[type=text], [dir=rtl] .iti--separate-dial-code input, [dir=rtl] .iti--separate-dial-code input[type=tel], [dir=rtl] .iti--separate-dial-code input[type=text] {
  padding-right: 73px;

}

// FAQ
.about-accordion .accordion-item {
  border-radius: 0 !important;
  border-right: 0;
  border-left: 0;

}

.about-accordion .accordion-button {
  box-shadow: none !important;
  border-radius: 0 !important;
  font-weight: 500;
  font-size: 16px;

}

.about-accordion .accordion-button:not(.collapsed) {
  background: $bg-secondary;
  color: $main_blue;
}

.about-accordion .accordion-body {
  font-size: 14px;
  color: $text-secondary;
  line-height: 2;
}

// About
.our-team .row .col-md-3:last-child {
  border: 0 !important;
}

.single-worker {
  text-align: center;
  color: $text-secondary;
  font-size: 14px;
  padding-inline: 1.2em;
}

.single-worker * {
  border-color: #e1e1e1;
}

.single-worker .person_image {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.single-worker .person_image img {
  width: 100%;
  height: 262px;
  object-fit: cover;
}

.single-worker .person_name {
  margin: 0;
  color: $text-secondary;
  font-size: 16px;
}

.single-worker .person_name a {
  color: $text-secondary;
}

.single-worker .position {
  font-size: 13px;
  font-style: oblique;
}

.single-worker .profile {
  border-width: 1px 0 0;
  border-style: solid;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 13px;
}

.single-worker .person_links_wrapper {
  border-width: 1px 0 0;
  border-style: solid;
  padding-top: 15px;
}

.timeline {
  position: relative;
}

.timeline:after {
  background-color: #e8e8e8;
  bottom: 0;
  content: "";
  height: 100%;
  inset-inline-start: calc(50%);
  position: absolute;
  top: 0;
  width: 2px;
  z-index: 1;
}

.timeline .single-timeline {
  display: inline-block;
  width: 45%;
  margin-bottom: 20px;
  z-index: 2;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  padding: 20px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.01);

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e8e8e8;
    position: absolute;
    inset-inline-start: calc(50% + -6px);
    margin-top: 8px;
  }

}

.timeline .single-timeline * {
  border-color: #e8e8e8;
}

.timeline .single-timeline:before {
  background-color: #e8e8e8;
  content: "";
  font-size: 18px;
  color: #e8e8e8;
  height: 2px;
  inset-inline-start: 45%;
  line-height: 1px;
  margin-top: 15px;
  position: absolute;
  text-align: start;
  width: calc(5% + 2px);
  z-index: 4;
}

.timeline .single-timeline .event-date {
  color: $main_blue;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  font-weight: 500;

}

.timeline .single-timeline:nth-child(odd) {
  text-align: start;
}

.timeline .single-timeline:nth-child(odd) .event-date {
  inset-inline-start: calc(50% + 10px);
}

.timeline .single-timeline:nth-child(even) {
  margin-inline-start: 55%;
}

.timeline .single-timeline:nth-child(even):before {
  inset-inline-end: 45%;
  inset-inline-start: auto;
  text-align: start;
}

.timeline .single-timeline:nth-child(even) .event-date {
  inset-inline-end: calc(50% + 10px);
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  align-items: center;

  .partner-img {
    border: 1px solid $bg-secondary;
    padding: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
    }
  }
}

.white-bg {
  background: white;
  padding-block: 3em;
}

.header-slider {
  padding-block: 3em;
  margin-top: -2rem;
}

.map-location {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  iframe {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.contact-info {

  border-radius: 10px;
  padding: 2em 1em;
  margin-block:3em;
  i {
    //background: #fff;
    //border-radius: 50%;
    //width: 40px;
    //aspect-ratio: 1/1;
    // display: inline-flex;
    //align-items: center;
    //justify-content: center;
    --Iconsax-Color: #264AEC;
  }
}
.share-btn {
  color: $dark_color;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    background: $main_blue;
    color: #fff;
path {
  fill: #fff;
}
  }
}
#share-modal {
  .share {
    display: flex;
    gap:20px;
    justify-content: center;
  }
}
.sku-wrapper {
  display: inline-flex;
  align-items: center;
}
.form-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  gap:20px;
  .nav-link {
    font-size: 16px;
  }
}
@import "responsive";