$font: 'Inter', sans-seri;
$main_blue: #264AEC;
$main_yellow: #F9DC5C;
$medium_blue: #5BC0EB;
$dark_color: #181823;
$text-primary: #161616;
$text-secondary: #525252;
$text-disabled: #8D8D8D;
$text-error: #DA1E28;
$text-muted: #C6C6C6;
$text-placeholder: #A8A8A8;
$link-hover: #6B6C7E;
$bg-secondary: #F1F2F6;